<!DOCTYPE html>
<html>
  <head>
    <title>IVIAS</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>IVIAS</h1>
    <p>Welcome to IVIAS</p>
  </body>
</html>
